# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
*.db
app/static/favicons/**
!app/static/favicons/README.md
*.tar

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
pytestdebug.log
htmlcov/

# Terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
cloudbuild-container.yaml
build-container.sh
!gcp/build-container.template.sh
providers.tf.gcs
# If you want to have your provider file versioned, remove the line
providers.tf
