.favicon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1050;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.125rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.search-container {
    position: relative;
}
